@charset "utf-8";

/* HEADER */
.headerTop {margin:0 auto; padding:0 20px; border-radius:999px; width:1240px; max-width:100%; background-color:#f0f0f0}
.headerTop .inner {display:flex; justify-content:space-between; padding:5px 4px}
.headerTop .inner * {display:flex}
.left .btnChat {padding:0 16px 0 34px; border:1px solid #c7c7c7; border-radius:999px; line-height:24px; font-size:14px; color:#d92017; background:#fff url("../images/ico-0101.png") no-repeat center left 3px/24px auto}
.left ul li a {line-height:20px; font-size:14px; color:#555}


/* GNB */


/* CONTAINER */


/* FOOTER */
#footer {position:relative; z-index:1000; height:205px; background-color:#f3f3f3}
@media (max-width: 1160px) {
    #footer {height:316px}
}
@media (max-width: 767px) {
    #footer {height:340px}
}