@charset "utf-8";

/* HEADER */
#header {position:relative; border-bottom:1px solid #dbdbdb}
#header .bgGray {background-color:#F7F7FA}
#header .inner {display:flex; align-items:center; justify-content:space-between; margin:0 auto; padding:0 20px; width:1320px; max-width:100%; height:60px}
#header .inner h1 {width:254px; height:28px}
#header .inner h1 a {display:block; height:100%; text-indent:-9999px; background:url("../images/logo.svg") no-repeat center/100% auto}
#header .inner .btnMenu {display:none; width:20px; height:20px; text-indent:-9999px; background:url("../images/btn-menu.svg") no-repeat center}
.siteMap {display:none; position:absolute; top:100%; border-top:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb; width:100%; background-color:#F7F7FA}
.siteMap .in {margin:0 auto; padding:0 20px; width:1320px; max-width:100%}
.siteMap .in > ul {display:flex}
.siteMap .in > ul > li {flex:1; padding:20px 0; border-left:1px solid #dbdbdb; text-align:center}
.siteMap .in > ul > li:last-child {border-right:1px solid #dbdbdb}
.siteMap .in > ul > li > a {display:inline-block; margin-bottom:10px; line-height:30px; font-size:17px; font-weight:500; color:#000}
.siteMap .in ul ul li {margin:10px 0}
.siteMap .in ul ul li a {display:inline-block; position:relative; line-height:28px; font-size:15px; color:#505050}
.siteMap .in ul ul li a:before {content:""; position:absolute; bottom:2px; left:0; width:100%; height:1px; background-color:#505050; opacity:0; transition:all 0.2s ease; -moz-transition:all 0.2s ease; -webkit-transition:all 0.2s ease; -o-transition:all 0.2s ease}
.siteMap .in ul ul li a[target=_blank] {padding-right:30px; background:url("../images/ico-link.png") no-repeat center right/16px auto}
.siteMap .in > ul > li:hover {background-color:#fff}
.siteMap .in ul ul li a:hover:before {opacity:1}
@media (max-width: 1160px){
    #header .inner .btnMenu {display:block}
}
@media (max-width: 767px){
    #header .inner h1 {width:220px; height:24px}
}

/* GNB */
.gnbWrap .gnbInner {position:relative; margin:0 auto; padding:0 20px; width:1320px; max-width:100%}
.gnbWrap .gnbInner .utilArea {display:flex; gap:14px; position:absolute; top:-42px; right:20px}
.gnbWrap .gnbInner .utilArea p {line-height:24px; font-size:12px; color:#767676}
.gnbWrap .gnbInner .utilArea ul {display:flex; gap:6px}
.gnbWrap .gnbInner .utilArea ul li a {display:block; width:24px; height:24px; text-indent:-9999px}
.gnbWrap .gnbInner .utilArea ul li a.btn0101 {background:url("../images/btn-0101.png") no-repeat center}
.gnbWrap .gnbInner .utilArea ul li a.btn0102 {background:url("../images/btn-0102.png") no-repeat center}
.gnbWrap .gnbInner .utilArea ul li a.btn0103 {background:url("../images/btn-0103.png") no-repeat center}
.gnbWrap .gnbInner .searchArea {position:absolute; top:17px; right:58px}
.gnbWrap .gnbInner .searchArea input {border:1px solid #dbdbdb; border-radius:999px; padding:0 52px 0 16px; line-height:38px; font-size:12px; color:#767676}
.gnbWrap .gnbInner .searchArea .btnSearch {position:absolute; top:0; right:0; width:52px; height:100%; text-indent:-9999px; background:url("../images/btn-search.png") no-repeat center/16px auto}
.gnbWrap .gnbInner .btnSiteMap {position:absolute; top:21px; right:20px; width:32px; height:32px; text-indent:-9999px; background:url("../images/btn-menu.svg") no-repeat center right/20px auto}
.gnbWrap .gnbInner .btnSiteMap.close {background:url("../images/btn-close.svg") no-repeat center right/20px auto}
.gnbWrap .gnbInner .btnClose {position:absolute; top:20px; right:20px; width:20px; height:20px; text-indent:-9999px; background:url("../images/btn-close.svg") no-repeat center}
#gnb {display:flex; justify-content:space-between; padding-right:294px}
#gnb > li {position:relative}
#gnb > li:before {content:""; position:absolute; bottom:0; left:0; width:100%; height:4px; background-color:#0D54E4; opacity:0; transition:all 0.2s ease; -moz-transition:all 0.2s ease; -webkit-transition:all 0.2s ease; -o-transition:all 0.2s ease}
#gnb > li > a {line-height:74px; font-size:17px; font-weight:500; color:#000}
#gnb ul {display:none; position:absolute; top:100%; left:50%; padding:20px 40px; border:1px solid #dbdbdb; background-color:#fff; transform:translateX(-50%); -ms-transform:translateX(-50%); -moz-transform:translateX(-50%); -webkit-transform:translateX(-50%)}
#gnb ul li {margin:10px 0; text-align:center}
#gnb ul li a {display:inline-block; position:relative; white-space:nowrap; line-height:22px; font-size:15px; color:#505050}
#gnb ul li a:before {content:""; position:absolute; bottom:2px; left:0; width:100%; height:1px; background-color:#505050; opacity:0; transition:all 0.2s ease; -moz-transition:all 0.2s ease; -webkit-transition:all 0.2s ease; -o-transition:all 0.2s ease}
#gnb ul li a[target=_blank] {padding-right:30px; background:url("../images/ico-link.png") no-repeat center right/16px auto}
@media (min-width: 1161px){
    #gnb > li:hover:before {opacity:1}
    #gnb > li:hover > a {font-weight:700}
    #gnb > li:hover ul {display:block}
    #gnb ul li a:hover:before {opacity:1}
    #gnb > li.focus:before {opacity:1}
    #gnb > li.focus > a {font-weight:700}
    #gnb > li.focus ul {display:block}
    #gnb ul li a.focus:before {opacity:1}
}
@media (max-width: 1160px){
    .gnbWrap {position:fixed; top:0; right:-100%; left:inherit; z-index:1005; width:100%; height:100%; background-color:#fff; transition:right 0.2s; -moz-transition:right 0.2s; -webkit-transition:right 0.2s; -o-transition:right 0.2s}
    .gnbWrap:before {content:""; position:absolute; top:0; right:0; border-bottom:1px solid #dbdbdb; width:100%; height:60px; background-color:#F7F7FA}
    .gnbWrap.open {right:0; overflow-y:auto}
    .gnbWrap .gnbInner {padding:132px 20px 20px}
    .gnbWrap .gnbInner .utilArea {top:18px; right:inherit; left:20px}
    .gnbWrap .gnbInner .searchArea {top:76px; right:20px; left:20px}
    .gnbWrap .gnbInner .searchArea input {width:100%}
    .gnbWrap .gnbInner .btnSiteMap {display:none}

    #gnb {display:block; margin:0 -20px; padding:0; border-top:1px solid #dbdbdb}
    #gnb > li {border-bottom:1px solid #dbdbdb}
    #gnb > li > a {display:block; padding:0 20px; line-height:56px}
    #gnb > li.more > a {background:url("../images/ico-down.svg") no-repeat center right 20px/16px auto}
    #gnb > li.more > a.open {color:#fff; background:#0D54E4 url("../images/ico-up.svg") no-repeat center right 20px/16px auto}

    #gnb ul {position:relative; left:0; padding:16px 20px; border:0; background-color:#F7F7FA; transform:translateX(0); -ms-transform:translateX(0); -moz-transform:translateX(0); -webkit-transform:translateX(0)}
    #gnb ul li {margin:0; text-align:left}
    #gnb ul li + li {margin-top:10px}
    #gnb ul li a {display:block; line-height:28px}
}
@media (max-width: 767px){
    
}

/* CONTAINER */


/* FOOTER */
#footer {position:relative; z-index:1000; height:205px; background-color:#f3f3f3}
@media (max-width: 1160px) {
    #footer {height:316px}
}
@media (max-width: 767px) {
    #footer {height:340px}
}